[submodule "virtual_table"]
	path = virtual_table
	url = git@github.com:amatig/virtual_table.git
[submodule "NetSmith"]
	path = NetSmith
	url = git@github.com:amatig/NetSmith.git
[submodule "babel4iphone"]
	path = babel4iphone
	url = git@github.com:amatig/babel4iphone.git
