<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Portale Sport</title>
    <meta name="description" content="Portale per organizzare gratuitamente partite tra amici per ogni genere di sport" />
    <meta name="keywords" content="calcio, calcetto, calcetto a 5, calcetto a 7, amici, social, tennis, basket, palla a volo, palla a canestro, volley, soccer, organizzare, partite, partitelle, partita, partitella, campo, campi, campetto, tornei, torneo, sfida, sfide, coppa, coppe, medaglie, giocatori, atleti, giocatore, atleta, statistiche, portale, web, facebook, sport, allenamento, forum" />
    
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/custom-theme/jquery-ui-1.8.15.custom.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/tipTip.css" type="text/css" />
    {% block mycss %}{% endblock %}

    <script src="/static/js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-1.8.15.custom.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script src="/static/js/jquery.tipTip.minified.js" type="text/javascript"></script>
    {% block myjs %}{% endblock %}
    
    <script type="text/javascript">
      $(function(){
      $(".link").tipTip();
      });
    </script>
    {% block script %}{% endblock %}
  </head>

  <body>
    <div class="header">
      <span>Portale Sport</span>
    </div>
    <div class="content">
      <div class="left">
	<div class="profile">
	  <div class="pavatar">
	    <img src="/static/profile/{{ user.username }}.jpg" alt="avatar" width="48" height="48" />
	  </div>
	  <div class="puser">
	    <a href="/profile/{{ user.username }}/"><span class="username">{{ user.first_name }}</span></a>
	    <a href="/logout/"><span>Logout</span></a>
	  </div>
	</div>
	<a href="/"><span class="link" title="Torna alla home page<br/>del portale">Pagina Principale</span></a>
	<a href="/add/partita/"><span class="link" title="Crea una nuova partita<br/>o vedi quelle gia' create">Partite</span></a>
	<a href="#"><span class="link" title="">Attivita'</span></a>
	<a href="#"><span class="link" title="">Classifiche</span></a>
	<a href="#"><span class="link" title="">Forum</span></a>
	<a href="#"><span class="link" title="">Messaggi</span></a>
	<a href="#"><span class="link" title="">Strutture</span></a>
	<a href="#"><span class="link" title="">Chi Siamo</span></a>
      </div>
      <div class="center">{% block content %}{% endblock %}</div>
      <div class="right">
	prova
      </div>
    </div>
    <div class="footer">
    </div>
  </body>

</html>
