{% extends "base.html" %}
{% load i18n %}

{% load get_model_tag %}

{% block content %}

<h1>{{ title }}</h1>

<input type='button' value='Cerca con google' />
<input type='button' class='btn_full' value='Cerca con google' />

<input type='text' />
<input type='text' />

<textarea></textarea>

<table>
  <tr><th>dsadsa</th><th>sda</th></tr>
  <tr><td>dsss</td><td>dsa</td></tr>
  <tr><td>xxx</td><td>dsa</td></tr>
</table>

... {% get_latest core.Struttura 1 as elem %} {{ elem }}...

<p>dsads</p>
<p>dsads</p>

<ul>
  <li>dsa</li>
  <li>dsa</li>
  <li>dsassa</li>
</ul>

{% endblock %}
