{% extends "base.html" %}

{% block content %}

<h1>Accesso al Sito</h1>

<form method="POST" action="/accounts/login/">
  {% csrf_token %}
  <input type="hidden" id="next" name="next" value="{{ next }}" />
  
  <div class="field {% if form.username.errors %}error{% else %}{% if err%}error{% endif %}{% endif %}">{{ form.username.label_tag }}{{ form.username }}{{ form.username.errors }}</div>
  <div class="field {% if form.passwd.errors %}error{% else %}{% if err%}error{% endif %}{% endif %}">{{ form.passwd.label_tag }}{{ form.passwd }}{{ form.passwd.errors }}</div>
  
  {% if err %}
  <div class="field">
    <ul class="errorlist"><li>Username e password non corrispondono o sono errati.</li></ul>
  </div>
  {% endif %}
  
  <div class="buttons">
    <input class="btn_full" type="submit" value="Login" />
    <input type="reset" value="Cancella" />
  </div>
  
</form>

{% endblock %}
